<div class= "container">

<div class="page-header">
  <h1>Progress Bar  and  List by Ajax </h1>
</div>

<div class="row">

  <!-- 左半分 -->
  <div class="col-sm-6">

    <!-- 数値入力フォーム -->
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="InputNumber">number</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="input_number" placeholder="数値">
        </div>
      </div>
    </form>

    <!-- プログレス・バー -->
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" id="my_bar" role="progressbar" style="width: 20%;">
        20%
      </div>
    </div>

  </div>

  <!-- 右半分 -->
  <div class="col-sm-6">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>type</th>
            <th>value</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>合計値</th>
            <td id="sum"></td>
          </tr>
          <tr>
            <th>平均値</th>
            <td id="ave"></td>
          </tr>
          <tr>
            <th>最大値</th>
            <td id="max"></td>
          </tr>
          <tr>
            <th>最小値</th>
            <td id="min"></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

